body{
    box-sizing: border-box !important;
    padding:0;
    margin:0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 140, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    position: relative;
    width:60%;
    margin:5% auto;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    border: 20px solid transparent;
    border-image: url('images/border_image.jpg') 100 repeat;
    border-radius:15px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(67, 193, 252, 0.637);
    background-image: url('images/blue-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow:hidden;
    z-index: 10;
}

#money_rain_div{
    position: absolute;
    background-color: rgba(255, 255, 0, 0.096);
    background-repeat: no-repeat;
    background-size: cover;
    top:0;
    width:100%;
    height:100%;
    z-index: -5;
}

.money_rain_div img{
    width:auto;
    height:auto;
}

#casino_img{
    position: relative;
    margin: 5% auto;
    width:50%;
    height: 50%;
}

#numbers_div{
    position: relative;
    width:45%;
    height:50%;
    background-color:white;
    border:1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding:10px;
    font-size:2.1rem;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex; 
    flex-wrap: wrap;
}

li{
    flex-basis: 20%;
    transition: background-color 0.15s ease-in-out;
}

/*
#play_btn {
    position: relative;
    width:30%;
    border-radius: 25px;
    font-size:1.5rem;
    margin:5% auto 1%;
    cursor: pointer;
    padding:10px 25px;
    border: 2px solid white;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background-color: black;
}

#play_btn:hover{
    border: 2px solid yellow;
    color:yellow;
    background-color: rgb(27, 27, 27);
}

#autospin_btn{
    position: relative;
    margin: 1% auto;
    width:20%;
    border-radius: 5px;
    font-size:1.4rem;
    cursor: pointer;
    padding:5px 10px;
    border: 2px solid white;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background-color: black;
}

#autospin_btn:hover{
    border: 2px solid yellow;
    background-color: rgb(27, 27, 27);
}

 #play_btn {
    position: relative;
    width:30%;
    border-radius: 5px;
    font-size:1.5rem;
    margin:5% auto;
    cursor: pointer;
    padding:10px 25px;
    border: 2px solid #ffffff;
    color: black;
    text-transform: uppercase;
    background-image: repeating-linear-gradient(90deg, 
      rgb(252, 248, 220),
      rgb(250, 255, 203) 7%, 
      #fdd283 7%, #fffd90 25%);
    background-size: 100%;
    transition: background 0.2s ease-in-out;
  }
  
#play_btn:hover {
    background-position: 115px;
} */

/* #play_btn{
    box-sizing: border-box !important;
    position: relative;
    width:30%;
    background-color:rgb(255, 251, 0);
    color:rgb(0, 0, 0);
    border:none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    font-size:1.5rem;
    padding:10px 35px;
    margin:5% auto;
    cursor: pointer;
}

#play_btn:hover{
    
} */

#money_div{
    position: relative;
    width:40%;
    height: auto;
    padding:10px;
    margin:0 auto;
    margin-bottom: 2%;
    background-image: url('images/black_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border:none;
    border-radius: 0 0 10px 10px;
}

#balance_div{
    position: relative;
    padding:10px;
    width: 50%;
    height: 60px;
    background-color: black;
    color:white;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border:none;
    border-radius:5px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
    font-weight: 600;
}

#bet_div{
    position: relative;
    padding:10px;
    width: 50%;
    height: 100%;
    margin:0 auto;
    background-color: black;
    color:white;
    display: flex;
    border:none;
    border-radius:0px 5px 5px 0;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-weight: 600;
}

#balance_p{
    position: relative;
    margin-left:10px;
    display: inline-block;
}

#balance_span{
    position: relative;
    display: inline-block;
    font-size:1.5rem;
}

#bet_num_label{
    float:left;
}

#bet_num{
    width: 50%;
    height:100%;
    font-size: 1.5rem;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    text-align: center;
}

#middle_div{
    position: relative;
    display: flex;
    justify-content: center;
    width: 95%;
}

.win_img{
    width: 15%;
    position: relative;
    display: inline-block;
    margin:0 auto;
    transition: display 0.15 ease-in-out;
}

#autospin_div{
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin:1% auto 3%;
    width:auto;
}

#autospin_btn, #play_btn {
  position: relative;
  width:30%;
  font-size:1.5rem;
  background-color: #c2fbd7;
  border-radius: 25px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  overflow: hidden;
}

#autospin_btn:hover, #play_btn:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  
}

#autospin_num{
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width:10%;
    height: 100%;
    font-size: 1.2rem;
    padding:10px;
    margin-left: 10px;
}

#spins_p{
    display: inline-block;
    color:white;
    font-size: 1.2rem;
    margin-left: 20px;
    width:30%;
}

#spins_span{
    display: inline-block;
    color:white;
    font-size: 1.2rem;
    margin-left: 10px;
}

#video_container {
    position: absolute;
    width: 100%;
    height: 100%; /* A teljes viewport magassága */
    overflow: hidden;
    z-index: -20;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    object-fit: cover; /* A videó méretének automatikus méretezése a tartalomhoz */
    z-index: -20;
}